.className {
  background: #000;
  padding: 1rem;
  font-family: system-ui;
  font-size: 1rem;
  color: #FFF;

  ul {
    margin: 0 !important;
    padding: 0  !important;
    list-style: none;
    white-space: pre-wrap;
    max-height: 400px;
    overflow: auto;
  }

  ul:has(> li) {
    margin-top: 1rem !important;
  }

  li {
    border-bottom: 1px solid #3A3A3A;
    padding: 0.5rem 0.75rem;
    font-family: monospace;
    margin: 0 !important;

    &.warn {
      background: #220;

      &:hover {
        background: #331;
      }
    }

    &.error {
      background: #200;

      &:hover {
        background: #311;
      }
    }
  }

  li:first-of-type {
    border-top: 1px solid #3A3A3A;
  }

  li:hover {
    background: #111;
  }
}