.className {
  border-top: 1px solid var(--sl-color-gray-5);
  padding: 1rem;
  font-family: system-ui;
  font-size: 1rem;

  .htmlArea {
    margin-top: 1rem;
    display: none;
  }

  &.dark {
    background: #08080a;
    color: #fff;

    li {
      &.warn {
        background: #220;

        &:hover {
          background: #331;
        }
      }

      &.error {
        background: #200;

        &:hover {
          background: #311;
        }
      }

      &.debug {
        background: #002;

        &:hover {
          background: #113;
        }
      }
    }

    li:hover {
      background: #111;
    }
  }

  &.light {
    background: #f6f7fa;
    color: #000;

    li {
      &.warn {
        background: #ffd;

        &:hover {
          background: #eec;
        }
      }

      &.error {
        background: #fdd;

        &:hover {
          background: #ecc;
        }
      }

      &.debug {
        background: #ddf;

        &:hover {
          background: #cce;
        }
      }
    }

    li:hover {
      background: #eee;
    }
  }

  ul {
    margin: 0 !important;
    padding: 0 !important;
    list-style: none;
    white-space: pre-wrap;
    max-height: 400px;
    overflow-y: auto;
  }

  ul:has(> li) {
    margin-top: 1rem !important;
  }

  li {
    border-bottom: 1px solid #3a3a3a;
    padding: 0.5rem 0.75rem;
    font-family: monospace;
    margin: 0 !important;
  }

  li:first-of-type {
    border-top: 1px solid #3a3a3a;
  }
}
