.className {
  background: #000;
  padding: 1rem;
  font-family: system-ui;
  font-size: 1rem;
  color: #FFF;

  ul {
    margin: 0 !important;
    padding: 0  !important;
    list-style: none;
    white-space: pre-wrap;
    max-height: 400px;
    overflow: auto;
  }

  li {
    border-bottom: 1px solid #3A3A3A;
    padding: 0.5rem 0.75rem;
    font-family: monospace;
    margin: 0 !important;
  }

  li:first-of-type {
    border-top: 1px solid #3A3A3A;
  }

  li:nth-child(odd) {
    background: #0A0A0A;
  }

  li:hover {
    background: #111;
  }
}